/*--------------------------------------------------------------
  # Cart
  --------------------------------------------------------------*/

  .cart {
    background: #ede9fc;
  }
  
  .cart .btn {
    border-radius: 50px;
    padding: 4px 30px 6px 30px;
    border: 2px solid #fb058a;
  }
  
  .cart .btn:hover {
    color: #fff;
    background: #fb058a;
  }
  
 
/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 30px 0;
  }
  
  .section-bg {
    background-color: #f2f5f4;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #4b605c;
  }
  
  .section-title p {
    margin-bottom: 0;
    color: #5f7c78;
  }

  .alr {
    text-align-last: end;
  }

  .total {
    width: 40%;
    margin-left: auto;
    margin-right: 0;
    margin-top: 80px;
  }

  .qty {
    font-weight: bold;
    text-align-last: end;
  }
