<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <p>Please confirm your purchase details <br/> <br/></p>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <br/>
                    <br/>
                    Total Amount
                </td>
                <td>
                    <br/>
                    <br/>
                    <div class="input-group d-flex">
                        <span class="input-group-text"><i class="fa fa-calculator"></i></span>
                        <input name="user" type="text" placeholder="total" class="form-control amt" value="{{ amt | currency: 'GBP'}}" disabled />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br/>
                    <br/>
                    <b>Delivery Details</b>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <div class="input-group d-flex">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input name="user" type="text" placeholder="name" class="form-control" value="{{ name }}" disabled />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <div class="input-group d-flex">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                        <input name="user" type="text" placeholder="address" class="form-control" value="{{ address }}" disabled />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()"><i class="fa fa-reply"></i>&nbsp; Back</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.close(); checkOut()"><i class="fa fa-shopping-bag"></i> &nbsp; Checkout</button>
</div>