<!-- ===== Footer Tag ===== -->

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Find Us</h3>
                    <p>
                        <strong>MyStore</strong> <br>
                        7c Suttons Lane <br>
                        Hornchurch London <br>
                        <strong>RM12 6RD</strong> <br><br>
                    </p>
                    <div class="social-links">
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Contact Us</h4>
                    <p>
                        <i class="bx bx-phone bx-xs">&nbsp;</i><strong>Phone:</strong> +44(0)7763785511<br>
                        <i class="bx bx-envelope bx-xs">&nbsp;</i><strong>Email:</strong> gnamuzu@gmail.com<br>
                    </p>

                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Popular Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/">Terms & Conditions</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/">About Us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a routerLink="/">FAQs</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span> MyStore</span></strong> 2023. All Rights Reserved | Developed with <i class="fa fa-heartbeat text-danger"></i> by <a href="https://github.com/Nerony-Git" style="text-decoration: none;"><b>George Amuzu</b></a>.
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.1.2
            </div>
        </div>
    </div>
    
    <div (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="fa fa-arrow-up"></i>
    </div>
</footer>

<!-- ===== End Footer Tag ===== -->