
<div class="col">
    <div class="card h-100">
      <a routerLink="/product/{{ product.id }}">
      <img src="{{ product.url }}" class="card-img-top img-size" alt="{{ product.name }}">
      </a>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="card-title">
            <a routerLink="/product/{{ product.id }}" class="tn">
            {{ product.name }}
            </a>
          </h5>
          <p class="price rounded"><b>{{ product.price | currency: "GBP" }}</b></p>
        </div>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <div class="card-footer">
        <form (ngSubmit)="addToCart()">
          <div class="d-flex justify-content-between align-items-center">
            <div class="input-group details d-flex align-items-center qty">
              <span class="input-group-text">Qty</span>
              <input name="qty" type="number" class="form-control" placeholder="Select Quantity" [(ngModel)]="quantity" #qty_ = "ngModel" min="1"/>
            </div>
            <div class="d-flex align-items-center">
              <button type="submit" class="btn btn-primary" [disabled]="qty_.invalid"><i class="fa fa-cart-plus"></i> Add to Cart</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>