<!-- ===== About Main Tag ===== -->
<main id="main">
    <section class="about">
    <div class="container">
        <div class="section-title">
            <h2>About Us</h2>
        </div>
        
        <div class="row">
            <div class="col-lg-6 align-items-stretch order-1 order-lg-2 img" style="background-image: url(assets/img/about.jpg);">&nbsp;</div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque orci orci, commodo ac mattis quis, malesuada at ex. Pellentesque nec euismod massa. Morbi consectetur elit in nunc mollis, nec sodales urna finibus. Maecenas non scelerisque dui, at auctor neque. Pellentesque ac aliquam diam. Morbi eu elit sapien. Sed sed est sed erat scelerisque malesuada. In mattis lectus tellus, non posuere mi luctus id. Cras laoreet lacinia nisi, id varius lacus blandit sit amet. Nunc dui felis, finibus eget lorem sit amet, finibus euismod orci. Sed luctus mauris a mauris placerat aliquet. Morbi ut tellus tellus. Praesent scelerisque lobortis nibh, eu tincidunt dolor faucibus ac. Praesent eget aliquam ante. Sed lorem dui, bibendum in consectetur non, varius at dolor. Vivamus accumsan erat sit amet sapien tempor, sit amet placerat dui lacinia.

                    Vivamus nisi massa, blandit nec augue eget, sodales facilisis nunc. Phasellus sed purus sed dui imperdiet sollicitudin. Sed cursus leo magna, tincidunt sagittis lectus cursus non. Nullam consectetur sit amet nisl nec auctor. Proin tincidunt diam nunc, et aliquet dolor viverra a. Morbi placerat nisi id lacus luctus, non fringilla sem mattis. Suspendisse ligula lacus, mattis a condimentum et, elementum non ipsum. Donec a egestas velit, sed lobortis risus. Suspendisse vulputate congue nunc, nec condimentum turpis ullamcorper vitae. In aliquam facilisis enim ac vestibulum. Donec ac mauris elementum, tempus leo ut, elementum augue. Curabitur id ligula sed eros semper pulvinar eget nec ligula. Duis commodo, tortor ut mattis venenatis, mi purus aliquam risus, eget tristique mi felis at sem. Maecenas egestas leo mauris, non posuere odio fermentum id. Etiam sed molestie quam.

                </p>
                <h3> <br>Our Vision:</h3>
                <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                    
                    Vivamus ex justo, vulputate nec commodo non, rutrum id massa. Suspendisse dui nunc, dictum ac finibus quis, ornare vitae enim. Vestibulum magna nisl, vulputate at risus pellentesque, euismod mattis urna. Praesent id dolor convallis, dignissim elit eget, fermentum neque. Donec euismod nulla et ante dictum dignissim. Phasellus sed scelerisque augue. Donec facilisis feugiat sagittis. Sed a est et nunc suscipit mattis. Ut facilisis magna eget nulla vehicula, non vestibulum augue sagittis. Pellentesque congue odio sed tempor porta. Nullam in leo non sapien egestas semper ac sed enim.
                </p>
                <h3> <br> Our Aims :</h3>
                <p class="fst-italic">
                    To;
                </p>
                <ul>
                    <li><i class="fa fa-check-square-o text-success"></i> Give individual permission to make informed choices.</li>
                    <li><i class="fa fa-check-square-o text-success"></i> Give individual rights to fulfil their potential.</li>
                    <li><i class="fa fa-check-square-o text-success"></i> Give individual chance to achieve their purpose.</li>
                </ul>
                <h3> <br> Equality and Diversity:</h3>
                <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                    
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam interdum ligula in porta aliquam. Etiam eleifend massa ipsum, a porta metus ullamcorper eu. Sed sit amet nisl mollis arcu condimentum tincidunt. Donec non arcu purus. Phasellus nec pharetra ipsum. Curabitur rhoncus scelerisque nisi ultricies fermentum. Integer a scelerisque ex, at pulvinar sem. Quisque condimentum quam eros, at rhoncus urna vehicula ut. Morbi semper sodales imperdiet. Sed semper sed leo eu tempor. Aenean consequat leo a nisi malesuada maximus.

                </p>

            </div>
        </div>
        
    </div>
    </section>
</main>
<!-- ===== End About Main Tag ===== -->