<!-- ===== Main Tag ===== -->
<main id="main">
    <section class="tncs">
    <div class="container">
        <div class="section-title">
            <h2>Terms & Conditions.</h2>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna lectus, tempus sed tellus sit amet, sollicitudin eleifend nulla. Donec metus mauris, eleifend sit amet bibendum non, tempus non tortor. Nunc tincidunt suscipit nibh ut placerat. Maecenas vitae pulvinar ipsum, at laoreet est. In vestibulum lorem vitae nunc fringilla, at malesuada dui mollis. Integer pretium nulla at nisi aliquet elementum. In mattis convallis pellentesque. Maecenas accumsan eu quam nec elementum. Nulla sapien libero, egestas viverra convallis tincidunt, sollicitudin a ex. Mauris eget venenatis lectus. Donec sed velit sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas et semper eros. Sed semper a lorem ac efficitur. Sed a fringilla enim.
            </p>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                Morbi ac posuere ligula, et sodales ipsum. Vestibulum rutrum dignissim ex vitae dignissim. Integer placerat purus ac ante imperdiet venenatis. In feugiat dui at tempus consequat. Duis vel mauris mauris. Ut facilisis quis diam ac scelerisque. Donec vitae dapibus velit. Phasellus semper sollicitudin elit. Nullam augue odio, suscipit ut tortor sed, feugiat laoreet tortor. Pellentesque vel dolor mauris. Integer consectetur mauris quis nulla dapibus, finibus tincidunt magna dictum. Quisque volutpat nulla sit amet porttitor molestie. Fusce libero purus, placerat a tellus ac, elementum condimentum arcu. Maecenas a molestie lectus, in aliquam nunc. Nunc dictum, libero sit amet ullamcorper blandit, sem justo ultricies neque, quis fringilla ligula risus ac sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                Maecenas viverra vehicula metus, ac aliquam dui porta et. Nunc convallis leo non lobortis pharetra. Mauris at consectetur massa. In at mi orci. Donec nibh nunc, volutpat in odio eu, ornare viverra quam. Suspendisse aliquet dolor a orci porta, a viverra massa consequat. Nulla ac mauris pretium, interdum risus at, mollis dui. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                Vestibulum tincidunt risus arcu, eu ultricies purus imperdiet ut. Donec vitae urna ut sem vehicula luctus. Donec consectetur nunc vitae tincidunt feugiat. Duis eu lorem ultrices urna ullamcorper tempor eget a tortor. Sed a erat lacinia ligula laoreet facilisis et eget sem. Nulla sodales dictum lectus. Maecenas iaculis laoreet massa. Nunc pharetra augue quis consequat mollis.
            </p>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                In hac habitasse platea dictumst. Fusce aliquet mi eget efficitur dictum. Ut iaculis nulla non ex blandit, ut tincidunt diam lacinia. Suspendisse cursus ipsum quis sagittis hendrerit. Aliquam tincidunt nisl diam, fermentum mollis nulla imperdiet sit amet. Etiam in erat ornare, imperdiet ligula et, auctor ligula. Donec ut aliquet justo.
            </p>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                Ut et tristique mi, a vulputate sem. Cras sit amet feugiat tortor, eget interdum metus. Cras diam nulla, consectetur vel facilisis vel, dignissim at mi. Nullam hendrerit dui et blandit tempus. Aenean lacus dui, eleifend sit amet dignissim imperdiet, sollicitudin eget tortor. Nullam ac placerat sapien. Etiam pulvinar condimentum tristique. Duis fermentum purus vehicula leo consequat ornare. Curabitur aliquet, nisl at accumsan laoreet, nulla neque auctor nunc, eleifend bibendum lectus ex eget diam. Aliquam libero ipsum, sollicitudin in est vehicula, lobortis imperdiet justo. Morbi ut semper diam. Vestibulum dapibus lobortis tellus non dictum. Integer tincidunt elit ut urna elementum finibus. Duis ullamcorper tortor ut blandit placerat.
            </p>
            <p class="fst-italic" style="text-align: justify; text-justify: inter-word;">
                Nullam viverra, lacus ut interdum congue, elit mauris molestie lacus, eget tincidunt lorem ligula eget augue. Maecenas sit amet eleifend arcu. Fusce aliquet non nisi at vestibulum. Nullam et porta erat. Donec porta ornare velit eu mollis. Vestibulum auctor turpis nec ipsum condimentum commodo. Cras porta dapibus velit nec tincidunt. Sed vel porttitor ex, quis pharetra dui. Suspendisse id ullamcorper urna, id vestibulum ligula. Ut gravida elit lobortis risus pharetra, quis posuere sem tincidunt.
            </p>
        </div>
        
        
    </div>
    </section>
</main>
